*{
    box-sizing: border-box;
}
body{
    margin:0;
}
img{
    position:absolute;
    top: 10px;
}

nav{
    background-color: #454545;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#name{
    margin-left: 90px;
}
#logo{
    background-color: #D0D0D0;
    font-size: 25px;

}
#green{
    color: #02B703;
}
#yellow{

    color: #FDB705;
}
.nvb{
    font-size: 48px;
    padding: 30px;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
a{
    color: white;
    text-decoration: none;
}
a:link{
    color: white;
    text-decoration: none;

}
a:visited{
    color: white;
    text-decoration: none;
}