#cont {
    display: block;
    grid-column-start: c2;
    grid-column-end: end;
    grid-row-start: r3;
    grid-row-end: r4;
    background-color: #d9d9d9;
    padding-top: 1rem;
    overflow: auto;
}

#header {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    padding-left: 3%;
    padding-right: 3%;
}

#text {
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 7%;
    padding-left: 7%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}