* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0F0F0F;

}

#container {
    display: grid;
    grid-template-columns: [c1] 8rem [split] 8rem [c2] auto [end];
    grid-template-rows: [r1] 8rem [r2] calc(20vh - 8rem) [r3] 60vh [r4] calc(20vh - 8rem) [r5] 8rem [end];
}

#left {
    grid-column-start: c1;
    grid-column-end: c2;
    grid-row-start: r2;
    grid-row-end: r4;
}

nav {
    grid-column-start: c2;
    grid-column-end: end;
    grid-row-start: r1;
    grid-row-end: r2;
    background-color: #454545;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;

}

#logo {
    grid-column-start: split;
    grid-column-end: c2;
    grid-row-start: r1;
    grid-row-end: r2;
    padding-top: 2rem;
    padding-left: 2rem;
}

#logo {
    background-color: #D0D0D0;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;

}

#green {
    color: #02B703;
    margin: 0;
}

#yellow {
    color: #FDB705;
    margin: 0;
}

#lref {
    text-decoration-color: #019ad6;
}

.convs {
    margin-left: 30px;
}

.nvb {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 48px;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

a {
    color: white;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;

}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#cont {
    display: grid;
    grid-column-start: c2;
    grid-column-end: end;
    grid-row-start: r3;
    grid-row-end: r4;
    background-color: #d9d9d9;
    overflow: auto;
    grid-template-columns: [ci1] 5% [ci2] auto [ci3] 5% [end];
    grid-template-rows: [ri1] calc(7% - 1rem) [ri2] calc(43% - 1rem) [ri3] 4rem [ri4] calc(43% - 1rem) [ri5] calc(7% - 1rem) [end];
}



textarea {
    grid-column-start: ci2;
    grid-column-end: ci3;
    grid-row-start: ri2;
    grid-row-end: ri3;
    padding: 2%;
    resize: none;
    border: 5px solid #7b7b7b;
    font-size: 24px;
    font-family: sans-serif;
}

textarea::placeholder {
    color: #b3b3b3;
}

textarea:focus {
    outline: none;
}

#contIn {
    display: grid;
    grid-column-start: ci2;
    grid-column-end: ci3;
    grid-row-start: ri3;
    grid-row-end: ri4;
    grid-template-columns: [cii1] calc(50% - 8rem) [cii2] 16rem [cii3] calc(25% - 7rem) [cii4] 6rem [cii5] calc(25% - 7rem) [end];
}

#buttnCont {
    display: grid;
    grid-column-start: cii2;
    grid-column-end: cii3;
    grid-template-columns: [ciii1] calc(50% - 2rem) [ciii2] 4rem [ciii3] calc(50% - 2rem) [end];

}

.btnT {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
}

#btnTL {
    margin-right: 8%;
    align-self: center;
    justify-self: right;
    grid-column-start: ciii1;
    grid-column-end: ciii2;
}

#btnTR {
    margin-left: 8%;
    align-self: center;
    justify-self: left;
    grid-column-start: ciii3;
    grid-column-end: ciii4;
}

button {
    grid-column-start: ciii2;
    grid-column-end: ciii3;
    padding: 0;
    border: none;
    background-color: #d9d9d9;
    cursor: pointer;
}

#switch {
    display: flex;
    flex-direction: row;
    grid-column-start: cii4;
    grid-column-end: cii5;
    align-items: center;
    justify-content: center;
}

#SwBt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#swtchT {
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
}

#output {
    grid-column-start: ci2;
    grid-column-end: ci3;
    grid-row-start: ri4;
    grid-row-end: ri5;
    background-color: white;
    border: 5px solid #7b7b7b;
}

#outputT {
    margin: 2%;
    font-size: 24px;
    font-family: sans-serif;
}

ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    width: 16rem;
    padding-left: 3rem;
    display: block;
    background-color: #454545;
    color: white;
    font-size: 48px;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

footer {
    grid-column-start: c1;
    grid-column-end: end;
    grid-row-start: r5;
    grid-row-end: end;
    outline: 2px solid #D0D0D0;
    color: black;
    background-color: black;
    text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white;
    font-weight: bold;
}

.ftrtxt {
    margin: 0;
    padding-top: 1.8rem;
    display: flex;
    justify-content: center;
}